<div id="main">

<h1 class="page-title">Global</h1>


<section>

<header>
    <h2>
        SOCKET_API
    </h2>

</header>

<article>
<div class="container-overview">


    <div class="description">Socket API</div>


    <dl class="details">


        <dt class="tag-source">Source:</dt>
        <dd class="tag-source">
            <ul class="dummy">
                <li>socket.js, line 28</li>
            </ul>
        </dd>


    </dl>


</div>


<h3 class="subsection-title">Methods</h3>

<dl>

<dt>
<h4 class="name" id="GLOBAL_DATA"><span class="type-signature">&lt;static> </span>GLOBAL_DATA<span class="signature">(reqData, next)</span><span
        class="type-signature"></span></h4>


</dt>
<dd>


<div class="description">
    获取/设置全局数据
</div>


<h5>Parameters:</h5>


<table class="params">
<thead>
<tr>

    <th>Name</th>


    <th>Type</th>


    <th class="last">Description</th>
</tr>
</thead>

<tbody>


<tr>

    <td class="name"><code>reqData</code></td>


    <td class="type">


        <span class="param-type">Object</span>


    </td>


    <td class="description last">
        <h6>Properties</h6>


        <table class="params">
            <thead>
            <tr>

                <th>Name</th>


                <th>Type</th>


                <th class="last">Description</th>
            </tr>
            </thead>

            <tbody>


            <tr>

                <td class="name"><code>type</code></td>


                <td class="type">


                    <span class="param-type">String</span>


                </td>


                <td class="description last">类型: set|get</td>
            </tr>


            <tr>

                <td class="name"><code>data</code></td>


                <td class="type">


                    <span class="param-type">Object</span>


                </td>


                <td class="description last">需要设置的数据</td>
            </tr>


            <tr>

                <td class="name"><code>sessionId</code></td>


                <td class="type">


                    <span class="param-type">Object</span>


                </td>


                <td class="description last"></td>
            </tr>


            </tbody>
        </table>
    </td>
</tr>


<tr>

    <td class="name"><code>next</code></td>


    <td class="type">


        <span class="param-type">Function</span>


    </td>


    <td class="description last">
        <h6>Properties</h6>


        <table class="params">
            <thead>
            <tr>

                <th>Name</th>


                <th>Type</th>


                <th class="last">Description</th>
            </tr>
            </thead>

            <tbody>


            <tr>

                <td class="name"><code>result</code></td>


                <td class="type">


                    <span class="param-type">Object</span>


                </td>


                <td class="description last">
                    <h6>Properties</h6>


                    <table class="params">
                        <thead>
                        <tr>

                            <th>Name</th>


                            <th>Type</th>


                            <th class="last">Description</th>
                        </tr>
                        </thead>

                        <tbody>


                        <tr>

                            <td class="name"><code>success</code></td>


                            <td class="type">


                                <span class="param-type">Boolean</span>


                            </td>


                            <td class="description last">是否成功</td>
                        </tr>


                        <tr>

                            <td class="name"><code>error</code></td>


                            <td class="type">


                                <span class="param-type">Object</span>


                            </td>


                            <td class="description last">错误消息对象</td>
                        </tr>


                        <tr>

                            <td class="name"><code>data</code></td>


                            <td class="type">


                                <span class="param-type">Object</span>


                            </td>


                            <td class="description last">全局数据</td>
                        </tr>


                        </tbody>
                    </table>
                </td>
            </tr>


            </tbody>
        </table>
    </td>
</tr>


</tbody>
</table>


<dl class="details">


    <dt class="tag-source">Source:</dt>
    <dd class="tag-source">
        <ul class="dummy">
            <li>socket.js, line 137</li>
        </ul>
    </dd>


</dl>


</dd>


<dt>
<h4 class="name" id="NEW_TEST"><span class="type-signature">&lt;static> </span>NEW_TEST<span class="signature">(testData, next)</span><span
        class="type-signature"></span></h4>


</dt>
<dd>


    <div class="description">
        新测试到来
    </div>


    <h5>Parameters:</h5>


    <table class="params">
        <thead>
        <tr>

            <th>Name</th>


            <th>Type</th>


            <th class="last">Description</th>
        </tr>
        </thead>

        <tbody>


        <tr>

            <td class="name"><code>testData</code></td>


            <td class="type">

            </td>


            <td class="description last"></td>
        </tr>


        <tr>

            <td class="name"><code>next</code></td>


            <td class="type">

            </td>


            <td class="description last"></td>
        </tr>


        </tbody>
    </table>


    <dl class="details">


        <dt class="tag-source">Source:</dt>
        <dd class="tag-source">
            <ul class="dummy">
                <li>socket.js, line 36</li>
            </ul>
        </dd>


    </dl>


</dd>


<dt>
<h4 class="name" id="TEST_ERROR"><span class="type-signature">&lt;static> </span>TEST_ERROR<span
        class="signature">()</span><span class="type-signature"></span></h4>


</dt>
<dd>


    <div class="description">
        一次测试出现错误:
    </div>


    <dl class="details">


        <dt class="tag-source">Source:</dt>
        <dd class="tag-source">
            <ul class="dummy">
                <li>socket.js, line 172</li>
            </ul>
        </dd>


    </dl>


</dd>


<dt>
<h4 class="name" id="TEST_FINISH"><span class="type-signature">&lt;static> </span>TEST_FINISH<span class="signature">(info)</span><span
        class="type-signature"></span></h4>


</dt>
<dd>


    <div class="description">
        一次测试的结束
    </div>


    <h5>Parameters:</h5>


    <table class="params">
        <thead>
        <tr>

            <th>Name</th>


            <th>Type</th>


            <th class="last">Description</th>
        </tr>
        </thead>

        <tbody>


        <tr>

            <td class="name"><code>info</code></td>


            <td class="type">


                <span class="param-type">Object</span>


            </td>


            <td class="description last">
                <h6>Properties</h6>


                <table class="params">
                    <thead>
                    <tr>

                        <th>Name</th>


                        <th>Type</th>


                        <th class="last">Description</th>
                    </tr>
                    </thead>

                    <tbody>


                    <tr>

                        <td class="name"><code>sessionId</code></td>


                        <td class="type">


                            <span class="param-type">String</span>


                        </td>


                        <td class="description last"></td>
                    </tr>


                    <tr>

                        <td class="name"><code>parentId</code></td>


                        <td class="type">


                            <span class="param-type">String</span>


                        </td>


                        <td class="description last"></td>
                    </tr>


                    <tr>

                        <td class="name"><code>winId</code></td>


                        <td class="type">


                            <span class="param-type">String</span>


                        </td>


                        <td class="description last"></td>
                    </tr>


                    <tr>

                        <td class="name"><code>testResult</code></td>


                        <td class="type">


                            <span class="param-type">Object</span>


                        </td>


                        <td class="description last"></td>
                    </tr>


                    </tbody>
                </table>
            </td>
        </tr>


        </tbody>
    </table>


    <dl class="details">


        <dt class="tag-source">Source:</dt>
        <dd class="tag-source">
            <ul class="dummy">
                <li>socket.js, line 52</li>
            </ul>
        </dd>


    </dl>


</dd>


<dt>
<h4 class="name" id="WAIT_ALL_TEST"><span class="type-signature">&lt;static> </span>WAIT_ALL_TEST<span
        class="signature">(testInfo, next)</span><span class="type-signature"></span></h4>


</dt>
<dd>


<div class="description">
    请求监听整个测试的结束
</div>


<h5>Parameters:</h5>


<table class="params">
    <thead>
    <tr>

        <th>Name</th>


        <th>Type</th>


        <th class="last">Description</th>
    </tr>
    </thead>

    <tbody>


    <tr>

        <td class="name"><code>testInfo</code></td>


        <td class="type">


            <span class="param-type">Object</span>


        </td>


        <td class="description last">
            <h6>Properties</h6>


            <table class="params">
                <thead>
                <tr>

                    <th>Name</th>


                    <th>Type</th>


                    <th class="last">Description</th>
                </tr>
                </thead>

                <tbody>


                <tr>

                    <td class="name"><code>sessionId</code></td>


                    <td class="type">


                        <span class="param-type">String</span>


                    </td>


                    <td class="description last">会话Id</td>
                </tr>


                </tbody>
            </table>
        </td>
    </tr>


    <tr>

        <td class="name"><code>next</code></td>


        <td class="type">


            <span class="param-type">Function</span>


        </td>


        <td class="description last">callback
            <h6>Properties</h6>


            <table class="params">
                <thead>
                <tr>

                    <th>Name</th>


                    <th>Type</th>


                    <th class="last">Description</th>
                </tr>
                </thead>

                <tbody>


                <tr>

                    <td class="name"><code>allResult</code></td>


                    <td class="type">


                        <span class="param-type">Object[]</span>


                    </td>


                    <td class="description last">
                        <h6>Properties</h6>


                        <table class="params">
                            <thead>
                            <tr>

                                <th>Name</th>


                                <th>Type</th>


                                <th class="last">Description</th>
                            </tr>
                            </thead>

                            <tbody>


                            <tr>

                                <td class="name"><code>winId</code></td>


                                <td class="type">


                                    <span class="param-type">String</span>


                                </td>


                                <td class="description last">窗口id</td>
                            </tr>


                            <tr>

                                <td class="name"><code>testResult</code></td>


                                <td class="type">


                                    <span class="param-type">String</span>


                                </td>


                                <td class="description last">该窗口的测试结果</td>
                            </tr>


                            </tbody>
                        </table>
                    </td>
                </tr>


                </tbody>
            </table>
        </td>
    </tr>


    </tbody>
</table>


<dl class="details">


    <dt class="tag-source">Source:</dt>
    <dd class="tag-source">
        <ul class="dummy">
            <li>socket.js, line 94</li>
        </ul>
    </dd>


</dl>


</dd>


<dt>
<h4 class="name" id="WAIT_TEST"><span class="type-signature">&lt;static> </span>WAIT_TEST<span class="signature">(info, next)</span><span
        class="type-signature"></span></h4>


</dt>
<dd>


<div class="description">
    请求监听某个测试窗口，当其完成时，讲执行next
</div>


<h5>Parameters:</h5>


<table class="params">
<thead>
<tr>

    <th>Name</th>


    <th>Type</th>


    <th class="last">Description</th>
</tr>
</thead>

<tbody>


<tr>

    <td class="name"><code>info</code></td>


    <td class="type">


        <span class="param-type">Object</span>


    </td>


    <td class="description last">
        <h6>Properties</h6>


        <table class="params">
            <thead>
            <tr>

                <th>Name</th>


                <th>Type</th>


                <th class="last">Description</th>
            </tr>
            </thead>

            <tbody>


            <tr>

                <td class="name"><code>sessionId</code></td>


                <td class="type">


                    <span class="param-type">String</span>


                </td>


                <td class="description last"></td>
            </tr>


            <tr>

                <td class="name"><code>winId</code></td>


                <td class="type">


                    <span class="param-type">String</span>


                </td>


                <td class="description last"></td>
            </tr>


            </tbody>
        </table>
    </td>
</tr>


<tr>

    <td class="name"><code>next</code></td>


    <td class="type">


        <span class="param-type">Function</span>


    </td>


    <td class="description last">callback
        <h6>Properties</h6>


        <table class="params">
            <thead>
            <tr>

                <th>Name</th>


                <th>Type</th>


                <th class="last">Description</th>
            </tr>
            </thead>

            <tbody>


            <tr>

                <td class="name"><code>info</code></td>


                <td class="type">


                    <span class="param-type">Object</span>


                </td>


                <td class="description last">
                    <h6>Properties</h6>


                    <table class="params">
                        <thead>
                        <tr>

                            <th>Name</th>


                            <th>Type</th>


                            <th class="last">Description</th>
                        </tr>
                        </thead>

                        <tbody>


                        <tr>

                            <td class="name"><code>sessionId</code></td>


                            <td class="type">


                                <span class="param-type">String</span>


                            </td>


                            <td class="description last"></td>
                        </tr>


                        <tr>

                            <td class="name"><code>winId</code></td>


                            <td class="type">


                                <span class="param-type">String</span>


                            </td>


                            <td class="description last"></td>
                        </tr>


                        <tr>

                            <td class="name"><code>ifAllFinish</code></td>


                            <td class="type">


                                <span class="param-type">Boolean</span>


                            </td>


                            <td class="description last">是否整个测试用例都完成了</td>
                        </tr>


                        <tr>

                            <td class="name"><code>winResult</code></td>


                            <td class="type">


                                <span class="param-type">Object</span>


                            </td>


                            <td class="description last">本win的测试结果</td>
                        </tr>


                        </tbody>
                    </table>
                </td>
            </tr>


            </tbody>
        </table>
    </td>
</tr>


</tbody>
</table>


<dl class="details">


    <dt class="tag-source">Source:</dt>
    <dd class="tag-source">
        <ul class="dummy">
            <li>socket.js, line 112</li>
        </ul>
    </dd>


</dl>


</dd>

</dl>


</article>

</section>


</div>

<nav>
    <h2><a href="index.html">Index</a></h2>

    <h3>Global</h3>
    <ul>
        <li><a href="global.html#SOCKET_API">SOCKET_API</a></li>
    </ul>
</nav>

<br clear="both">

<footer>
    Documentation generated by <a href="https://github.com/jsdoc3/jsdoc">JSDoc 3</a> on Thu Dec 20 2012 01:27:22
    GMT+0800 (CST)
</footer>

<script> prettyPrint(); </script>
