extends layout

block content
    h1= title
    p Welcome to #{title}
    div.command
        h3 消息发送
        form.form-horizontal
            div.control-group
                label.control-label 事件类型
                div.controls
                    select.J_Type
                        option(value="NEW_TEST") 新测试
                        option(value="TEST_FINISH") 测试结束
                        option(value="TEST_ERROR") 测试出错
            div.control-group
                lable.control-label 消息
                div.controls
                    input.J_Msg(type="text")
            div.control-group
                div.controls
                    button.btn.J_Trigger 发送

    div.test
        h3 测试用例
        form.form-horizontal
            div.control-group
                lable.control-label URL
                div.controls
                    input.J_TestURL(type="text",value="http://baidu.com")
            div.control-group
                lable.control-label Browser
                div.controls
                    input.J_TestBrowser(type="text",value="chrome")
            div.control-group
                lable.control-label 用例代码
                div.controls
                    textarea.J_TestCode alert('hello world');
            div.control-group
                div.controls
                    button.btn.J_TestRun 测试

    div.J_Response

    // Javascript
    script(src="/javascripts/libs/socket.io/socket.io.js")
    script(src="/javascripts/libs/jquery-1.8.3-min.js")
    script(src="/javascripts/index.js")