extends layout

block content

    include common/nav_bar

    h1= title
    p Welcome to #{title}

    section.test
        h3.page-header 测试用例
        form.form-horizontal
            div.control-group
                lable.control-label URL
                div.controls
                    input.J_TestURL(type="text",value="http://localhost:3000/simulate")
            div.control-group
                lable.control-label Browser
                div.controls
                    input.J_TestBrowser(type="text",value="chrome")
            div.control-group
                lable.control-label 用例代码
                div.controls
                    div.test-code-con
                        div.test-code-wrap
                            div.J_TestCode.test-code
                                |UT.open('http://g.cn', function(){
                                |   describe( 'desc', function(){
                                |       it( 'it', function(){
                                |           expect( 1 ).toBe( 1 );
                                |       });
                                |   });
                                |});
                                |UT.open( 'http://m.baidu.com', function(){
                                |   describe( 'desc2', function(){
                                |       it( 'it2', function(){
                                |           expect( 1 ).toBe( 1 );
                                |       });
                                |   });
                                |});

                                |UT.done({ result: 'allTestDone'} );
            div.control-group
                div.controls
                    button.btn.btn-primary.J_TestRun 测试

    section
        h3.page-header 测试结果
        table.table.table-bordered.table-striped.J_TestResultTable
            colgroup
                col.span1
                col.span2
            thead
                tr
                    th 窗口Id
                    th 测试结果
            tbody

    // Javascript
    script(src="/javascripts/libs/socket.io/socket.io.js")
    script(src="/javascripts/libs/jquery-1.8.3-min.js")
    script(src="http://d1n0x3qji82z53.cloudfront.net/src-min-noconflict/ace.js")
    script(src="/javascripts/index.js")
    script(src="/javascripts/libs/jquery.tmpl.js")
