body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

section {
    background: #F9F9F9;
    padding: 15px;
    margin-bottom: 40px;
    border-radius: 7px;
}

table {
    background: white;
}

.test-code-con {
    padding: 10px;
    background: #2F3129;
    border-radius: 5px;
    height: 300px;
    width: 600px;
}
.test-code-wrap {
    height: 100%;
    width: 100%;
    position: relative;
}

.test-code {
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    width: 100%;
    height: 100%;
}