body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

section {
    background: #F9F9F9;
    padding: 15px;
    margin-bottom: 40px;
    border-radius: 7px;
}

table {
    background: white;
}