    __done = arguments[ 0 ];

    '{{& globalData}}';

    '{{& libs}}';

    '{{& userScript}}';

    var jasmineEnv = jasmine.getEnv();
    var oldCallback = jasmineEnv.currentRunner().finishCallback;
    jasmineEnv.currentRunner().finishCall back = function () {
        oldCallback.apply(this, arguments);
        '{{& globalDataName}}'.done( jasmine.getJSReport() );
    };

    // Register reporters
    jasmineEnv.addReporter(new jasmine.JSReporter());                   //< for jsreporter
    jasmineEnv.updateInterval = 1000;

    setTimeout(function() {
        jasmine.getEnv().execute();
    }, 50);



